.bg-slate-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(203 213 225/var(--tw-bg-opacity))
}
:is(.dark .dark\:bg-slate-950) {
    --tw-bg-opacity: 1;
    background-color: rgb(2 6 23/var(--tw-bg-opacity))
}

.sidebar-item .customers {
    color: #78716c;
}

.sidebar-item:hover .customers {
    color: #2563eb;
}
